.column {
  display: grid;
  grid-template-columns: 100px 1fr 50px;
  gap: 12px;
}

.box {
  background: var(--mat-sys-surface-container);
  height: 100px;
  rotate: 180deg;
}

.bar {
  background: var(--mat-sys-primary);
  height: 100%;
}


.test {
  background: var(--mat-sys-primary);
  width: 100px;
}

.test2 {
  width: 100px;
}

.container {
  display: flex;
  height: 600px;
  gap: 16px;
  align-items: flex-end;
}

.container2 {
  display: flex;
  gap: 16px;
  align-items: flex-end;
  padding-top: 1em;
}

.backgroundLines {
  display: flex;
  align-items: center;
  justify-items: center;
}

.backgroundLines mat-divider {
  flex: 1;
  position: static;
}

.backgroundLines span {
  font-weight: bold;
  font-size: 1.5em;
  width: 35px;
  height: 60px;
}

.stack {
  display: grid;
}

.stack > * {
  grid-area: 1 / 1;
}
