<div class="stack">
  <div style="height: 600px;">
    @for (n of numbersForStat; track $index) {
      <div class="backgroundLines">
        <span>{{ n }}</span>
        <mat-divider></mat-divider>
      </div>
    }
    <div class="backgroundLines">
      <span>0</span>
      <mat-divider></mat-divider>
    </div>
  </div>

  <div class="container">
    @for (l of chartData(); track $index) {
      <div class="test" [style.height.%]="l.percent"></div>
    }
  </div>
</div>

<br>
<br>
<br>
<br>
<div class="container2">
  @for (l of chartData(); track $index) {
    <div class="test2">{{ l.name }}</div>
  }
</div>
