<div class="stack">
  <div style="height: 600px;">
    @for (n of numbersForStat; track $index) {
      <div class="backgroundLines">
        <span>{{ n }}</span>
        <mat-divider></mat-divider>
      </div>
    }
  </div>

  <div class="container">
    @for (l of chartData(); track $index) {
      <div class="pillar" [style.height.%]="l.percent">
        <p>{{ l.percent | number:'1.0-1' }}%</p>
      </div>
    }
  </div>
</div>

<div class="language-bar">
  @for (l of chartData(); track $index) {
    <div class="language">{{ l.name }}</div>
  }
</div>
