.head-title {
  font-weight: bold;
  font-size: 3em;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.divider {
  max-width: 1200px;
  margin: 20px auto 0;
}
