.title {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-name {
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 1%;

  @media (max-width: 600px) {
    font-size: 3rem;
  }
}
.sub-title {
  font-weight: lighter;
  font-size: 2rem;

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}

.divider {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
}

